td {
  border: 5px solid white;
  border-collapse: collapse;
  height: 70px;
  width: 70px;
}
table{
  border-collapse: collapse;
  margin-left: auto;
  margin-right: auto;
}

body{
  background-image: url(https://images2.alphacoders.com/966/thumb-1920-96622.jpg);
  text-align: center;
  color: white;
}

td:hover{
  background-color: grey;

}
td.hit {
  background-color: red;
}
td.hit img {
  width: 60px;
  height: auto;
  margin: auto;
}
td.miss {
  background-color: blue;
}
h1{
  text-align: center;
}

#outcome{
  color: red;
  font-size: 100px;
  text-align: center;
}
